@@include('src/template/svc/include/_head.html')

    <link rel="stylesheet" type="text/css" href="http://static.ramadapt.co.kr/css/jquery.bxslider.css" />
    
    <!--<script type="text/javascript" src="http://static.seabay.co.kr/svc/js/jquery.mb.YTPlayer.min.js"></script>-->
    <!--<script type="text/javascript" src="/static/svc/js/jquery.mb.YTPlayer.min_custom.js"></script>-->
    <script src="http://www.youtube.com/player_api"></script>
    <script type="text/javascript" src="/static/svc/js/init.js"></script>
    <!--<script type="text/javascript" src="/static/svc/js/init_test.js"></script>-->
    <script type="text/javascript" src="/static/svc/js/init_player.js"></script>
</head>  

<body class="page-home">

    @@include('src/template/svc/include/_header.html') 
 
    <div class="main">
        <!-- 190917 날씨 추가 (190905 전달본) : 멀티클래스 추가 -->
        <div class="weather vid"> 
            <div class="area">
                <div class="inner">
                    <span class="s-1">2019.01.22 (화)</span>
                    <span class="s-2">강릉의 오늘 <span class="t-1">▷</span> 맑음</span>
                    <span class="s-3"><span class="big">7</span><span class="c">℃</span></span>
                    <span class="s-4">
                        <img src="http://img.sampobeach.co.kr/weather/finedust.png" alt="미세먼지">
                        <span class="txt-dust">미세먼지 - <span class="grade">보통</span></span>
                    </span>
                </div>
                <img src="http://img.sampobeach.co.kr/weather/clear.png" alt="날씨">
            </div>
        </div>
        <!-- //.weather -->
       
        <!-- 190917 영상 추가 --> 
        <div class="vid-wrap">
            <div class="vid-bg"></div>
            <section class="vid-area m"> 
                <div class="vid-box">
                    <video id="vidM" playsinline="" webkit-playsinline="" preload="" autoplay="" muted="">
                        <source src="http://img.seabay.co.kr/svc/img/main/seabay_mobile.mp4" type="video/mp4" />
                    </video>
                </div>
            </section>
            <section class="vid-area pc">
                <!-- {videoURL: 'zZojWZtwcPk' / -5gWcHBdXWE --> 
                <!--<section id="pcVid" class="vidPc" data-property="{videoURL:'-5gWcHBdXWE', containment:'#pcVid', showControls:false, autoPlay:true, loop:false, mute:true, startAt:0, opacity:1, addRaster:true, quality:'default', stopMovieOnBlur: false, showYTLogo: false, addRaster: true}"></section>-->
                <section class="vid-box">  
                    <!--<div id="player" class="vidPc"></div>-->
                    <!--<video id="vidPc" class="vidPc" playsinline="" webkit-playsinline="" preload="" autoplay="">
                        <source src="http://img.seabay.co.kr/svc/img/main/seabay_pc.mp4" type="video/mp4" />
                    </video>-->
                    <!--?rel=0&enablejsapi=1&autoplay=1   //  &amp;playlist=NupIKt3LM1Q&amp;loop=1  id="player" -->
                    <iframe id="player" class="vidPc" src="https://www.youtube.com/embed/NupIKt3LM1Q?rel=0&amp;controls=0&amp;enablejsapi=1&autoplay=1" allow="autoplay; encrypted-media" frameborder="0" allowfullscreen=""></iframe>
                </section>  
            </section>
              
             
            <div class="vid-txt-box">
                <a href="javascript:;" class="vid-txt" title="영상 닫기"><img src="http://img.seabay.co.kr/svc/img/main/bg_main_txt.png" alt="강릉씨베이호텔 자세한 정보 보기" /></a>
            </div>
             
        </div>  
        <!-- //.vid-wrap --> 
         
        <section class="slider_section">
            <div class="main_info"> 
                <p>A Home away from Home</p>
            </div> 
            <div id="slider_main" class="slider_container smain">
                <div data-u="slides" class="slides">
                    <div><img data-u="image" class="main-visibility"
                            src="http://img.seabay.co.kr/svc/img/main/main015519.jpg" alt="01" /></div>
                    <div><img data-u="image" class="main-visibility"
                            src="http://img.seabay.co.kr/svc/img/main/main025519.jpg" alt="02" /></div>
                    <div><img data-u="image" class="main-visibility"
                            src="http://img.seabay.co.kr/svc/img/main/main035519.jpg" alt="03" /></div>
                    <div><img data-u="image" class="main-visibility"
                            src="http://img.seabay.co.kr/svc/img/main/main045519.jpg" alt="04" /></div>
                    <div><img data-u="image" class="main-visibility"
                            src="http://img.seabay.co.kr/svc/img/main/main055519.jpg" alt="05" /></div>
                </div>
                <span u="arrowleft" class="jssor-sprite arow-left"
                    style="width: 21px; height: 32px; top: 200px; left: 20px;"></span>
                <span u="arrowright" class="jssor-sprite arow-right"
                    style="width: 21px; height: 32px; top: 200px; right: 20px"></span>
            </div>
            <div id="slider_mmain" class="slider_container mob">
                <div data-u="slides" class="slides">
                    <div><img data-u="image" class="main-visibility"
                            src="http://img.seabay.co.kr/svc/img/main/mmain015519.jpg" alt="01" /></div>
                    <div><img data-u="image" class="main-visibility"
                            src="http://img.seabay.co.kr/svc/img/main/mmain025519.jpg" alt="02" /></div>
                    <div><img data-u="image" class="main-visibility"
                            src="http://img.seabay.co.kr/svc/img/main/mmain035519.jpg" alt="03" /></div>
                    <div><img data-u="image" class="main-visibility"
                            src="http://img.seabay.co.kr/svc/img/main/mmain045519.jpg" alt="04" /></div>
                    <div><img data-u="image" class="main-visibility"
                            src="http://img.seabay.co.kr/svc/img/main/mmain055519.jpg" alt="05" /></div>
                </div>
                <span u="arrowleft" class="jssor-sprite arow-left"
                    style="width: 21px; height: 32px; top: 200px; left: 20px;"></span>
                <span u="arrowright" class="jssor-sprite arow-right"
                    style="width: 21px; height: 32px; top: 200px; right: 20px"></span>
            </div>
        </section>
        <section class="body_section">
            <div class="main_reservation">
                <div class="container">
                    <form method="get" name="myForm" id="myForm" action="https://be.wingsbooking.com/ko/VHG1/redirect">
                        <ul class="inputs ">
                            <li>
                                <span>실시간 객실예약</span>
                            </li>
                            <li>
                                <div class="date_input">
                                    <input type="input" name="checkIn" class="datepicker_in" value="2019-06-18"
                                        placeholder="Check in" readonly />
                                    <i class="icon-12"></i>
                                </div>
                            </li>
                            <li>
                                <div class="date_input">
                                    <input type="input" name="checkOut" class="datepicker_ot" value="2019-06-19"
                                        placeholder="Check out" readonly />
                                    <i class="icon-12"></i>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="date_input">
                                    <input type="number" name="rooms" value="1" min="1" onKeyup="number_check(this)"
                                        placeholder="Check out" />
                                    <p class="ad_form_label">객실</p>
                                </div>
                                <input type="hidden" name="adults" value="1" />
                                <input type="hidden" name="children" value="" />
                            </li> -->
                            <li>
                                <button type="button" onclick="on_submit()">객실 알아보기</button>
                            </li>
                            <!-- <li>
                                <div class="temp_data" title="오늘의 날씨">
                                    <div class="temp">
                                        <span class="do">24</span>
                                        <div class="tmx">↑<span>25</span> ↓<span></span></div>
                                        <div class="day">Tue 18</div>
                                    </div>
                                    <div class="sky">
                                        <i class="icon-16"></i>
                                        <span class="today">TODAY</span>
                                    </div>
                                </div>
                            </li> -->
                        </ul>
                    </form>
                </div>
            </div>
        </section>

        <section class="notice-sec">
            <h1 class="sr-only">씨베이호텔 토픽 및 공지사항</h1>
            <div class="group">
                <div class="topic-wrap">
                    <div class="topic-header">
                        <div class="title">
                            <a href="http://seabay.co.kr/facilities/?r=swimmingpool" class="link">씨베이호텔 토픽
                                <span class="hidden-smxs">
                                    <img src="http://img.seabay.co.kr/svc/img/icon/ico_sb.png" alt="설명" class="ico-sb">
                                    <span class="sm">현재 하계시즌 맞이 패밀리 풀, 인피니티 풀 오픈 중!</span>
                                </span>
                                <div class="ico-plus-cont blue">
                                    <div class="ico-wrap">
                                        <div class="ico-container">
                                            <div class="ico-body">
                                                <span class="ico-bar"></span>
                                                <span class="ico-bar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="topic-body">
                        <div class="title hidden-mdlg">
                            <a href="http://seabay.co.kr/facilities/?r=swimmingpool">
                                <img src="http://img.seabay.co.kr/svc/img/icon/ico_sb.png" alt="설명" class="ico-sb">
                                <span class="sm">현재 하계시즌 맞이 패밀리 풀, 인피니티 풀 오픈 중!</span>
                            </a>
                        </div>
                        <div class="bx-box">
                            <ul class="bx-s fnBxSlider">
                                <li class="item"><a href="http://seabay.co.kr/facilities/?r=swimmingpool"><img src="http://img.seabay.co.kr/svc/img/main/topic/sw_01.jpg" alt="패밀리 풀"></a></li>
                                <li class="item"><a href="http://seabay.co.kr/facilities/?r=swimmingpool_infinite"><img src="http://img.seabay.co.kr/svc/img/main/topic/sw_02.jpg" alt="인피니티 풀"></a></li>
                                <li class="item"><a href="http://seabay.co.kr/facilities/?r=swimmingpool"><img src="http://img.seabay.co.kr/svc/img/main/topic/sw_03.jpg" alt="패밀리 풀"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="notice-wrap">
                    <div class="notice-header">
                        <div class="title">
                            <a href="http://seabay.co.kr/brd/lists/notice.php" class="link">공지사항
                                <div class="ico-plus-cont blue">
                                    <div class="ico-wrap">
                                        <div class="ico-container">
                                            <div class="ico-body">
                                                <span class="ico-bar"></span>
                                                <span class="ico-bar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="notice-body">
                        <ul class="notice-list">
                            <li><a href="brd/view/notice/1550.php">[알림] 객실정비 품질 향상 및 개선 안내</a></li>
                            <li><a href="brd/view/notice/1549.php">[알림] 강릉씨베이호텔 5층 수영장 오픈안내</a></li>
                            <li><a href="brd/view/notice/1541.php">강릉씨베이호텔, 경포아쿠아리움과의 제휴</a></li>
                            <li><a href="brd/view/notice/1520.php">강릉씨베이호텔의 강릉거주민 특별 혜택</a></li>
                            <li><a href="brd/view/notice/1514.php">[공지] 밸류플레이트 휴장안내</a></li>
                            <li><a href="brd/view/notice/1483.php">[공지] 수영장 폐장</a></li>
                            <li><a href="brd/view/notice/1379.php">[공지] 수영장 이용 안내 문의</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="rooms-sec">
            <h1 class="sr-only">객실룸 상품 목록</h1>
            <div class="group">
                <div class="rooms-wrap">
                   <!-- 190719 객실상품 목록 변경 및 추가 // 상세페이지 리뉴얼 -->
                    <ul class="rooms-list cf">
                        <li class="rooms-item">
                            <a href="./rooms/detail_new/superior_db.html" class="link">
                                <div class="title cf">
                                    <span class="lg">슈페리어 더블</span>
                                    <span class="sm">SUPERIOR DOUBLE</span>
                                    <div class="btn-more">
                                        <div class="ico-plus-cont white">
                                            <div class="ico-wrap">
                                                <div class="ico-container">
                                                    <div class="ico-body">
                                                        <span class="ico-bar"></span>
                                                        <span class="ico-bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        상세안내
                                    </div>
                                </div>
                                <div class="content">
                                    <figure><img src="http://img.seabay.co.kr/svc/img/main/rooms/superior_double.jpg" alt="슈페리어 더블"></figure>
                                </div>
                            </a>
                        </li>
                        <li class="rooms-item">
                            <a href="./rooms/detail_new/dx_hollywood.html" class="link">
                                <div class="title cf">
                                    <span class="lg">디럭스 헐리우드</span>
                                    <span class="sm">HOLLYWOOD</span>
                                    <div class="btn-more">
                                        <div class="ico-plus-cont white">
                                            <div class="ico-wrap">
                                                <div class="ico-container">
                                                    <div class="ico-body">
                                                        <span class="ico-bar"></span>
                                                        <span class="ico-bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        상세안내
                                    </div>
                                </div>
                                <div class="content">
                                    <figure><img src="http://img.seabay.co.kr/svc/img/main/rooms/deluxe_hollywood.jpg" alt="디럭스 헐리우드"></figure>
                                </div>
                            </a>
                        </li>
                        <li class="rooms-item">
                            <a href="./rooms/detail_new/dx_korea.html" class="link">
                                <div class="title cf">
                                    <span class="lg">디럭스 한실</span>
                                    <span class="sm">DELUXE KOREA</span>
                                    <div class="btn-more">
                                        <div class="ico-plus-cont white">
                                            <div class="ico-wrap">
                                                <div class="ico-container">
                                                    <div class="ico-body">
                                                        <span class="ico-bar"></span>
                                                        <span class="ico-bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        상세안내
                                    </div>
                                </div>
                                <div class="content">
                                    <figure><img src="http://img.seabay.co.kr/svc/img/main/rooms/deluxe_korea.jpg" alt="디럭스 한실"></figure>
                                </div>
                            </a>
                        </li>
                        <li class="rooms-item">
                            <a href="./rooms/detail_new/dx_double.html" class="link">
                                <div class="title cf">
                                    <span class="lg">디럭스 더블</span>
                                    <span class="sm">DELUXE DOBLE</span>
                                    <div class="btn-more">
                                        <div class="ico-plus-cont white">
                                            <div class="ico-wrap">
                                                <div class="ico-container">
                                                    <div class="ico-body">
                                                        <span class="ico-bar"></span>
                                                        <span class="ico-bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        상세안내
                                    </div>
                                </div>
                                <div class="content">
                                    <figure><img src="http://img.seabay.co.kr/svc/img/main/rooms/deluxe_doble.jpg" alt="디럭스 더블"></figure>
                                </div>
                            </a>
                        </li>
                        <li class="rooms-item">
                            <a href="./rooms/detail_new/dx_jacuzzi.html" class="link">
                                <div class="title cf">
                                    <span class="lg">자쿠지 패밀리트윈</span>
                                    <span class="sm">JACUZZI</span>
                                    <div class="btn-more">
                                        <div class="ico-plus-cont white">
                                            <div class="ico-wrap">
                                                <div class="ico-container">
                                                    <div class="ico-body">
                                                        <span class="ico-bar"></span>
                                                        <span class="ico-bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        상세안내
                                    </div>
                                </div>
                                <div class="content">
                                    <figure><img src="http://img.seabay.co.kr/svc/img/main/rooms/deluxe_jacuzzi.jpg" alt="자쿠지 패밀리트윈"></figure>
                                </div>
                            </a>
                        </li>
                        <li class="rooms-item">
                            <a href="./rooms/detail_new/dx_familytwin.html" class="link">
                                <div class="title cf">
                                    <span class="lg">디럭스 패밀리트윈</span>
                                    <span class="sm">FAMILY TWIN</span>
                                    <div class="btn-more">
                                        <div class="ico-plus-cont white">
                                            <div class="ico-wrap">
                                                <div class="ico-container">
                                                    <div class="ico-body">
                                                        <span class="ico-bar"></span>
                                                        <span class="ico-bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        상세안내
                                    </div>
                                </div>
                                <div class="content">
                                    <figure><img src="http://img.seabay.co.kr/svc/img/main/rooms/deluxe_familytwin.jpg" alt="디럭스 패밀리트윈"></figure>
                                </div>
                            </a>
                        </li>
                        <li class="rooms-item">
                            <a href="./rooms/detail_new/dx_quadkids.html" class="link">
                                <div class="title cf">
                                    <span class="lg">디럭스 패밀리쿼드</span>
                                    <span class="sm">FAMILY QUAD</span>
                                    <div class="btn-more">
                                        <div class="ico-plus-cont white">
                                            <div class="ico-wrap">
                                                <div class="ico-container">
                                                    <div class="ico-body">
                                                        <span class="ico-bar"></span>
                                                        <span class="ico-bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        상세안내
                                    </div>
                                </div>
                                <div class="content">
                                    <figure><img src="http://img.seabay.co.kr/svc/img/main/rooms/deluxe_quadkids.jpg" alt="디럭스 패밀리쿼드"></figure>
                                </div>
                            </a>
                        </li>
                        <li class="rooms-item">
                            <a href="./rooms/detail_new/premier_familytwin.html" class="link">
                                <div class="title cf">
                                    <span class="lg">프리미어 패밀리트윈</span>
                                    <span class="sm">PREMIER</span>
                                    <div class="btn-more">
                                        <div class="ico-plus-cont white">
                                            <div class="ico-wrap">
                                                <div class="ico-container">
                                                    <div class="ico-body">
                                                        <span class="ico-bar"></span>
                                                        <span class="ico-bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        상세안내
                                    </div>
                                </div>
                                <div class="content">
                                    <figure><img src="http://img.seabay.co.kr/svc/img/main/rooms/premier_familytwin.jpg" alt="프리미어 패밀리트윈"></figure>
                                </div>
                            </a>
                        </li>
                        <li class="rooms-item">
                            <a href="./rooms/detail_new/royalsuite.html" class="link">
                                <div class="title cf">
                                    <span class="lg">로얄스위트</span>
                                    <span class="sm">ROYAL SUITE</span>
                                    <div class="btn-more">
                                        <div class="ico-plus-cont white">
                                            <div class="ico-wrap">
                                                <div class="ico-container">
                                                    <div class="ico-body">
                                                        <span class="ico-bar"></span>
                                                        <span class="ico-bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        상세안내
                                    </div>
                                </div>
                                <div class="content">
                                    <figure><img src="http://img.seabay.co.kr/svc/img/main/rooms/royal_suite.jpg" alt="로얄스위트"></figure>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </div>

    <!-- 팝업 -->
    <!-- <div class="event_pop">
        <div class="top">
            <label><input type="checkbox" /> 12시간 동안 보지않기</label>
            <button type="button"><i class="icon-29"></i></button>
        </div>
        <div class="pop">
            <div id="slider_pop" class="slider_container pop">
                <div data-u="slides" class="slides">
                    <div>
                        <img data-u="image"
                            src="http://img.seabay.co.kr/svc/fil/Board/1500/477503d947581c7ee978d70c3b617eb5.jpg"
                            title="수영장 안내" />
                    </div>
                </div>
                <span u="arrowleft" class="jssor-sprite arow-left"
                    style="width: 21px; height: 32px; top: 200px; left: 20px;"></span>
                <span u="arrowright" class="jssor-sprite arow-right"
                    style="width: 21px; height: 32px; top: 200px; right: 20px"></span>
            </div>
        </div>
    </div> -->

    @@include('src/template/svc/include/_footer.html')

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script>
        $(function() {
            $(".fnBxSlider").bxSlider({
                // mode: 'fade',
                auto: true,
                autoControls: false,
                speed: 500,
                duration: 6000
            });
        });
    </script>
</body>

</html>