@@include('src/template/svc/include/_head.html')
</head>

<body>

    @@include('src/template/svc/include/_header.html')

    <div class="sub board_view">
        <div class="container box">
            <h3>
                <i class="icon-37"></i> 밸류호텔강릉의 강릉거주민 특별 혜택 </h3>
            <div class="brd_info">
                <span>관리자</span>/
                <span><i class="icon-36"></i>2019-01-16</span>/
                <span><i class="icon-35"></i>1012</span>
            </div>


            <div class="brd_cont">
                <p><img alt="" src="/img/valuehotelgangneung/img/brd/notice/1520/img_01.jpg" /></p>
            </div>

            <button type="button" class="brd_btn" onclick="location='/svc/brd/lists/notice'">뒤로가기</button>
        </div>
    </div>

    @@include('src/template/svc/include/_footer.html')
</body>

</html>