@@include('src/template/svc/include/_head.html')
</head>

<body>

    @@include('src/template/svc/include/_header.html')

    <div class="restbar">
        <div class="sub">
            <div class="sub_top_menu">
                <h4 class="page_title">BAR 59</h4>
                <h6 class="page_sub_title">복층구조의 세련되고 스타일리쉬한 인테리어가 돋보이는 로비바에서 커피, 건강차, 칵테일 등 다양한 음료를 즐겨보세요. 소중한 분들과의 만남
                    또는 일상탈피를 통한 삶의 여유를 찾으시기에 최적의 공간입니다.</h6>
                <ul class="menu_wrap container">
                    <li class="menu_item"><a href="/views/svc/restaurant/valueplate.html">VALUE PLATE</a></li>
                    <li class="menu_item active"><a href="/views/svc/restaurant/lobbybar.html">BAR 59</a></li>
                    <li class="menu_item"><a href="/views/svc/restaurant/swimmingbar.html">SWIMMING BAR</a></li>
                </ul>
            </div>
        </div>
        <div class="sub container">
            <div class="sub_item_box">
                <div class="sub_item_wrap">
                    <div class="sub_item">
                        <div class="slick_slider">
                            <div class="icon-prev"><i class="icon-33"></i></div>
                            <div class="icon-next"><i class="icon-32"></i></div>
                            <div class="slick_basic">
                                <div><img src="http://img.seabay.co.kr/svc/img/facilities/lobbybar1cd58.jpg">
                                </div>
                                <div><img src="http://img.seabay.co.kr/svc/img/facilities/lobbybar2cd58.jpg">
                                </div>
                                <div><img src="http://img.seabay.co.kr/svc/img/facilities/lobbybar3cd58.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="item_info">
                            <div class="info_wrap">
                                <h5 class="info_title">위치</h5>
                                <div class="info_content">1층</div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">운영시간</h5>
                                <div class="info_content">
                                    <span class="sh_small">일요일부터 금요일 오후 13:00 ~ 오후 22:00</span><br />
                                    <span class="sh_small">토요일 및 공휴일 하루 전일 오후 13:00 – 오후 24:00</span>
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">메뉴안내</h5>
                                <div class="info_content">
                                    <span class="sh_small">- 커피 : 아메리카노 KRW 5,000 / 카페라떼 KRW 5,500 / 카푸치노 KRW 5,500</span><br />
                                    <span class="sh_small">- 에이드 : 애플 마멀레이드 / 레드 에이드 / 블루 에이드 등 각 KRW 6,000</span><br />
                                    <span class="sh_small">- 칵테일 : 블랙러시안 / 교토 / 모스코우 뮬 / 데킬라 선라이즈 / 진 토닉 등 각 KRW 13,000</span><br />
                                    <span class="sh_small">- 맥주 : 피츠 425ml / 클라우드 425ml 등 각 KRW 5,000</span><br />
                                    <span class="sh_small">- 와인 : 하우스 와인 (잔) KRW 8,000 / 하우스 와인 (병) KRW 40,000</span><br />
                                    <span class="sh_small">- 스넥류 : 모듬마른안주 / 나초 / 치킨너겟 등 각 KRW 9,900</span><br />
                                    <span class="sh_small">- 음료 : 콜라 / 다이어트 콜라 / 스프라이트 / 진저에일 등 각 KRW 3,000 / 핫초코 KRW 5,500</span><br />
                                    <span class="sh_small">- 차 : 얼그레이티 KRW 5,000</span><br />
                                    <span class="sh_small">※ 상기 금액은 변동될 수 있습니다.</span><br />
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">예약 문의</h5>
                                <div class="info_content">
                                    전화 : <span class="sh_small">1666-1243</span><br />
                                    이메일 : <span class="sh_small">valuehotelgangneung@ebiznetworks.co.kr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('src/template/svc/include/_footer.html')
</body>

</html>