@@include('src/template/svc/include/_head.html')
</head>

<body>

    @@include('src/template/svc/include/_header.html')

    <div class="restbar">
        <div class="sub">
            <div class="sub_top_menu">
                <h4 class="page_title">SWIMMING BAR</h4>
                <h6 class="page_sub_title">하늘과 맞닿은 것과 같은 인피니트 수영장에서 트렌디한 바텐더가 손수 조주하는 환상의 칵테일, 와인, 샴페인을 사이드 메뉴와 함께 즐겨
                    보세요.</h6>
                <ul class="menu_wrap container">
                    <li class="menu_item"><a href="/views/svc/restaurant/valueplate.html">VALUE PLATE</a></li>
                    <li class="menu_item"><a href="/views/svc/restaurant/lobbybar.html">BAR 59</a></li>
                    <li class="menu_item active"><a href="/views/svc/restaurant/swimmingbar.html">SWIMMING BAR</a></li>
                </ul>
            </div>
        </div>
        <div class="sub container">
            <div class="sub_item_box">
                <div class="sub_item_wrap">
                    <div class="sub_item">
                        <div class="slick_slider">
                            <div class="icon-prev"><i class="icon-33"></i></div>
                            <div class="icon-next"><i class="icon-32"></i></div>
                            <div class="slick_basic">
                                <div><img src="/img/svc/img/facilities/swimmingbarcd58.jpg"></div>
                            </div>
                        </div>
                        <div class="item_info">
                            <div class="info_wrap">
                                <h5 class="info_title">위치</h5>
                                <div class="info_content">일반 수영장, 개별 월풀 (5층)<br>인피니티 수영장 (15층) - 준비중</div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">운영시간</h5>
                                <div class="info_content">
                                    2019년 7월 개장 예정<br>
                                    <span class="sh_small">* 호텔사정에 따라 이용시간은 달라질 수 있습니다. <br />변경 시에는 홈페이지 “공지”를 통하여 안내 될
                                        예정입니다.</span><br>
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">예약 문의</h5>
                                <div class="info_content">
                                    전화 : <span class="sh_small">1666-1243</span><br />
                                    이메일 : <span class="sh_small">valuehotelgangneung@ebiznetworks.co.kr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('src/template/svc/include/_footer.html')
</body>

</html>