@@include('src/template/svc/include/_head.html')
</head>

<body>

    @@include('src/template/svc/include/_header.html')

    <div class="restbar">
        <div class="sub">
            <div class="sub_top_menu">
                <h4 class="page_title">VALUE PLATE</h4>
                <h6 class="page_sub_title">셰프가 매일 직접 엄선한 신선한 재료들을 사용하여 <br class="break">열정이 살아 숨쉬는 맛있는 뷔페를
                    제공합니다.<br>모던하고 안락한 분위기에서 최고의 서비스와 함께 <br class="break">정성스럽게 준비한 건강한 음식을 맛보실 수 있습니다. </h6>
                <ul class="menu_wrap container">
                    <li class="menu_item active"><a href="/views/svc/restaurant/valueplate.html">VALUE PLATE</a></li>
                    <li class="menu_item"><a href="/views/svc/restaurant/lobbybar.html">BAR 59</a></li>
                    <li class="menu_item"><a href="/views/svc/restaurant/swimmingbar.html">SWIMMING BAR</a></li>
                </ul>
            </div>
        </div>
        <div class="sub container">
            <div class="sub_item_box">
                <div class="sub_item_wrap">
                    <div class="sub_item">
                        <div class="slick_slider">
                            <div class="icon-prev"><i class="icon-33"></i></div>
                            <div class="icon-next"><i class="icon-32"></i></div>
                            <div class="slick_basic">
                                <div><img src="http://img.seabay.co.kr/svc/img/facilities/valueplate1cd58.jpg"></div>
                                <div><img src="http://img.seabay.co.kr/svc/img/facilities/valueplate2cd58.jpg"></div>
                                <div><img src="http://img.seabay.co.kr/svc/img/facilities/valueplate3cd58.jpg"></div>
                                <div><img src="http://img.seabay.co.kr/svc/img/facilities/valueplate4cd58.jpg"></div>
                            </div>
                        </div>
                        <div class="item_info">
                            <div class="info_wrap">
                                <h5 class="info_title">위치</h5>
                                <div class="info_content">지하 1층</div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">운영시간</h5>
                                <div class="info_content">
                                    07:00 ~ 10:00 (마지막 입장 09:30)
                                    * 매주 금, 토, 일, 월요일 운영
                                    * 12월 추가 운영일 : 25일, 31일
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">조식요금</h5>
                                <div class="info_content">
                                    <!-- 조식요금 (10% 세금 포함)<br />
                                    * 주중(월-금)성인 : KRW 11,000<br />
                                    * 주말(토-일&휴일)성인 : KRW 22,000<br />
                                    * 주중소인 (만 7세 이상 ~ 만 12세 이하) : KRW 7,700<br />
                                    * 주말소인 (만 7세 이상 ~ 만 12세 이하) : KRW 11,000<br />
                                    ※ 부모를 동반한 만 7세 미만 (미취학 아동) : 무료 (최대 2명) -->
                                    <!-- 주중/주말 공통 (10% 세금 포함)<br>
                                    * 성인 : 현장가 <del>22,000</del> ▶ 온라인 사전구매 (특가) 11,000원<br />
                                    * 성인 : 현장가 <del>11,000</del> ▶ 온라인 사전구매 (특가) 7,700원 (만7세 ~ 만12세)<br />
                                    ※ 부모를 동반한 만 7세 미만 (미취학 아동) : 무료 (최대 2명) -->
                                    주중/주말 공통<br />
                                    * 대인 : 22,000원<br />
                                    * 소인 : 11,000원 (13세 미만)<br />
                                    ※ 조식 요금은 현장 상황에 의해 변경될 수 있습니다.
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">예약 문의</h5>
                                <div class="info_content">
                                    전화 : <span class="sh_small">1666-1243</span><br />
                                    이메일 : <span class="sh_small">valuehotelgangneung@ebiznetworks.co.kr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('src/template/svc/include/_footer.html')
</body>

</html>