@@include('src/template/svc/include/_head.html')
</head>

<body>

    @@include('src/template/svc/include/_header.html')

    <div class="restbar">
        <div class="sub">
            <div class="sub_top_menu">
                <h4 class="page_title">VALUE PLATE</h4>
                <h6 class="page_sub_title">셰프가 매일 직접 엄선한 신선한 재료들을 사용하여 <br class="break">열정이 살아 숨쉬는 맛있는 뷔페를
                    제공합니다.<br>모던하고 안락한 분위기에서 최고의 서비스와 함께 <br class="break">정성스럽게 준비한 건강한 음식을 맛보실 수 있습니다. </h6>
                <ul class="menu_wrap container">
                    <li class="menu_item active"><a href="/views/svc/restaurant/valueplate.html">VALUE PLATE</a></li>
                    <li class="menu_item"><a href="/views/svc/restaurant/lobbybar.html">BAR 59</a></li>
                    <li class="menu_item"><a href="/views/svc/restaurant/swimmingbar.html">SWIMMING BAR</a></li>
                </ul>
            </div>
        </div>
        <div class="sub container">
            <div class="sub_item_box">
                <div class="sub_item_wrap">
                    <div class="sub_item">
                        <div class="slick_slider">
                            <div class="icon-prev"><i class="icon-33"></i></div>
                            <div class="icon-next"><i class="icon-32"></i></div>
                            <div class="slick_basic">
                                <div><img src="/img/svc/img/facilities/valueplate1cd58.jpg"></div>
                                <div><img src="/img/svc/img/facilities/valueplate2cd58.jpg"></div>
                                <div><img src="/img/svc/img/facilities/valueplate3cd58.jpg"></div>
                                <div><img src="/img/svc/img/facilities/valueplate4cd58.jpg"></div>
                            </div>
                        </div>
                        <div class="item_info">
                            <div class="info_wrap">
                                <h5 class="info_title">위치</h5>
                                <div class="info_content">지하 1층</div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">운영시간</h5>
                                <div class="info_content">
                                    조식 07:00 ~ 10:00, 월 ~ 일
                                    <!-- <br> -->
                                    <!-- <br> -->
                                    <!-- <br> -->
                                    <!-- <span class="sh_small"></span> -->
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">조식요금</h5>
                                <div class="info_content">
                                    <!--                 <b>[주중조식]</b><br/>
                4월30일까지 매주 월요일~금요일에는 단품 한상차림으로 조식 서비스가 제공됩니다.<br/>
                * 요금 : 10% 세금 포함<br/>
                1. American Breakfast ---- \15,000<br/>
                2. 주문진 섭국 ------------ \12,000<br/>
                3. 초당 순두부 ------------ \10,000<br/>
                4. 황태 해장국 ------------ \10,000<br/>
                <b>[주말 조식]</b><br/>
                * 요금 : 10% 세금 포함<br/>
                  토요일, 일요일<br/>
                - 성인 : \22,000 - 소인 (만 7세 이상 ~ 만 12세 이하) : \11,000<br/>
                * 부모를 동반한 7세 미만 (미취학 아동) : 무료 (최대 2명)<br/> -->
                                    <!-- 성인 : KRW 22,000 (10% 세금 포함)<br/>
                - 소인 (만 7세 이상 ~ 만 12세 이하) : KRW 11,000 (10% 세금 포함)<br/>
                ※ 부모를 동반한 만 7세 미만 (미취학 아동) : 무료 (최대 2명)<br/> -->
                                    조식요금 (10% 세금 포함)<br />
                                    * 주중(월-금)성인 : KRW 11,000<br />
                                    * 주말(토-일&휴일)성인 : KRW 22,000<br />
                                    * 주중소인 (만 7세 이상 ~ 만 12세 이하) : KRW 7,700<br />
                                    * 주말소인 (만 7세 이상 ~ 만 12세 이하) : KRW 11,000<br />
                                    ※ 부모를 동반한 만 7세 미만 (미취학 아동) : 무료 (최대 2명)
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">예약 문의</h5>
                                <div class="info_content">
                                    전화 : <span class="sh_small">1666-1243</span><br />
                                    이메일 : <span class="sh_small">valuehotelgangneung@ebiznetworks.co.kr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('src/template/svc/include/_footer.html')
</body>

</html>