@@include('src/template/svc/include/_head.html')

    <link rel="stylesheet" type="text/css" href="/static/svc/css/event/init.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link href="http://static.ramadapt.co.kr/css/jquery.bxslider.css" rel="stylesheet" />
</head>

<body class="page-home">

    @@include('src/template/svc/include/_header.html')

    <div class="contents event-contents">
        <div class="sub">
            <div class="sub_top_menu">
                <h4 class="page_title">이벤트/축제</h4>
                <h6 class="page_sub_title">솔향, 바다향, 커피향 가득한 강릉 주변 관광명소는 물론<br class="hidden-mdlg"> 지역 이벤트, 축제에서 즐거운 시간을 함께하세요.</h6>
            </div>
        </div>
        
        <div class="sub evt_box container">
            <div class="sub_item_box">
                <div class="sub_item_wrap">
                    <div class="sub_item">
                        
                        <div class="evt-item">
                            <div class="bxBox">
                                <ul class="bxS fnBxSlider">
                                    <li class="li-1"><img src="http://img.seabay.co.kr/svc/img/event/event003.jpg" alt="강릉국제청소년예술축전"></li>
                                    <li class="li-2">
                                        <img src="http://img.seabay.co.kr/svc/img/event/event003.jpg" alt="강릉국제청소년예술축전">
                                        <div class="evt-bx-box">
                                            <div class="evt-txt-box">
                                                <div class="evt-txt-container">
                                                    <p class="evt-bx-tit">2019년 제18회 강릉국제청소년예술축전</p>
                                                    <p class="evt-bx-txt"> 
                                                        경포 해변 특설무대와 강릉 단오문화관에서는 강릉 국제 청소년 예술축전을 만나볼 수 있습니다.<br>
                                                        러시아, 몽골, 인도네시아, 일본, 중국, 태국, 한국 등 여러 국가가 참가해 각 나라의 전통과<br class="hidden-smxs">
                                                        현대 공연 예술을 선보이는 축제의 장입니다.<br>
                                                        세계의 청소년들이 문화예술로 하나 되는 교류의 장을 경험해보는 것을 추천드립니다.<br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="evt-tb-box">
                                <ul class="evt-tb cf">
                                    <li class="nth-1 t-full">
                                        <p class="p-lbl">행사명</p>
                                        <p class="p-txt">2019년 제18회 강릉국제청소년예술축전</p>
                                    </li>
                                    <li class="nth-2 t-half">
                                        <p class="p-lbl">일정</p>
                                        <p class="p-txt">7월 25일(목) ~ 28일(일)</p>
                                    </li>
                                    <li class="nth-3 t-half">
                                        <p class="p-lbl">주최</p>
                                        <p class="p-txt">강릉예총, 강원도, 강릉시, 강릉문화재단</p>
                                    </li>
                                    <li class="nth-4 t-half">
                                        <p class="p-lbl">장소</p>
                                        <p class="p-txt">강릉 경포해변무대</p>
                                    </li>
                                    <li class="nth-5 t-half">
                                        <p class="p-lbl">추가정보</p>
                                        <p class="p-txt"><a href="https://www.gn.go.kr/www/selectBbsNttView.do?key=260&bbsNo=14&nttNo=90737&searchCtgry=&searchCnd=all&searchKrwd=&pageIndex=1&integrDeptCode=" target="_blank" title="새창 열림">▷제18회 강릉국제청소년예술축전</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="evt-item">
                            <div class="bxBox">
                                <ul class="bxS fnBxSlider">
                                    <li class="li-1"><img src="http://img.seabay.co.kr/svc/img/event/event002.jpg" alt="강원도대표 청소년어울림마당 썸머 워터 페스티벌"></li>
                                    <li class="li-2">
                                        <img src="http://img.seabay.co.kr/svc/img/event/event002.jpg" alt="강원도대표 청소년어울림마당 썸머 워터 페스티벌">
                                        <div class="evt-bx-box">
                                            <div class="evt-txt-box">
                                                <div class="evt-txt-container">
                                                    <p class="evt-bx-tit">2019 강원도대표 청소년어울림마당 썸머 워터 페스티벌</p>
                                                    <p class="evt-bx-txt"> 
                                                        강릉시청소년수련관에서 관내 청소년 및 시민을 대상으로 물놀이 체험, 체험마당, 놀이마당,<br class="hidden-smxs">
                                                        버스킹마당, 먹거리마당 등의 다채로운 행사가 진행됩니다.<br>
                                                        여름에 만나는 즐거운 청소년 행사에 많은 참여를 부탁드립니다.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="evt-tb-box">
                                <ul class="evt-tb cf">
                                    <li class="nth-1 t-full">
                                        <p class="p-lbl">행사명</p>
                                        <p class="p-txt">2019 강원도대표 청소년어울림마당 썸머 워터 페스티벌</p>
                                    </li>
                                    <li class="nth-2 t-half">
                                        <p class="p-lbl">일정</p>
                                        <p class="p-txt">7월 27일(토) 13:00 ~ 18:00</p>
                                    </li>
                                    <li class="nth-3 t-half">
                                        <p class="p-lbl">주최</p>
                                        <p class="p-txt">여성가족부, 강원도, 강릉시</p>
                                    </li>
                                    <li class="nth-4 t-half">
                                        <p class="p-lbl">장소</p>
                                        <p class="p-txt">강릉시청소년수련관 앞마당</p>
                                    </li>
                                    <li class="nth-5 t-half">
                                        <p class="p-lbl">추가정보</p>
                                        <p class="p-txt"><a href="https://www.gn.go.kr/www/selectBbsNttView.do?key=260&bbsNo=14&nttNo=90846&searchCtgry=&searchCnd=all&searchKrwd=&pageIndex=1&integrDeptCode=" target="_blank" title="새창 열림">▷썸머 워터 페스티벌</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="evt-item">
                            <div class="bxBox">
                                <ul class="bxS fnBxSlider">
                                    <li class="li-1"><img src="http://img.seabay.co.kr/svc/img/event/event001.jpg" alt="국제 스폐셜 뮤직&amp;아트 페스티벌"></li>
                                    <li class="li-2">
                                        <img src="http://img.seabay.co.kr/svc/img/event/event001.jpg" alt="국제 스폐셜 뮤직&amp;아트 페스티벌">
                                        <div class="evt-bx-box">
                                            <div class="evt-txt-box">
                                                <div class="evt-txt-container">
                                                    <p class="evt-bx-tit">2019 국제 스페셜 뮤직&amp;아트 페스티벌</p>
                                                    <p class="evt-bx-txt"> 
                                                        전 세계 발달장애아티스트들과 비장애인, 그리고 최고의 음악교수진이 함께 만들어가는 페스티벌입니다.<br>
                                                        예술교류, 도전, 희망, 열정, 스페셜 올림픽의 정신을 기조로<br class="hidden-smxs">
                                                        해마다 꾸준히 개최하며 공적인 발달장애인 축제로 자리매김하고 있습니다.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="evt-tb-box">
                                <ul class="evt-tb cf">
                                    <li class="nth-1 t-full">
                                        <p class="p-lbl">행사명</p>
                                        <p class="p-txt">2019 국제 스페셜 뮤직&amp;아트 페스티벌</p>
                                    </li>
                                    <li class="nth-2 t-half">
                                        <p class="p-lbl">일정</p>
                                        <p class="p-txt">7월 15일(월) ~ 18일(목) (4일 간)</p>
                                    </li>
                                    <li class="nth-3 t-half">
                                        <p class="p-lbl">주최</p>
                                        <p class="p-txt">(사)스페셜올림픽코리아</p>
                                    </li>
                                    <li class="nth-4 t-half">
                                        <p class="p-lbl">장소</p>
                                        <p class="p-txt">평창군 알펜시아 리조트 일대</p>
                                    </li>
                                    <li class="nth-5 t-half">
                                        <p class="p-lbl">추가정보</p>
                                        <p class="p-txt"><a href="http://specialmusicfestival.com/2019/" target="_blank" title="새창 열림">▷국제 스페셜 뮤직&amp;아트 페스티벌</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('src/template/svc/include/_footer.html')

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script>
        $(function() {
            $(".fnBxSlider").bxSlider({
                mode: 'fade',
                auto: true,
                autoControls: false,
                speed: 500,
                duration: 6000
            });
        });
    </script>
</body>

</html>