@@include('src/template/svc/include/_head.html')
</head>

<body class="page-landing">

    @@include('src/template/svc/include/_header.html')

    <div class="park">
        <div class="landing">
            <!--<figure class="img-landing">
                <img src="http://img.seabay.co.kr/svc/img/park/img_landing.jpg" alt="주변주차장이용안내">
            </figure>-->
            <figure class="img-landing">
                <img src="http://img.seabay.co.kr/svc/img/park/img_landing00.jpg" alt="주변주차장이용안내">
            </figure>
            <p class="img-landing">
                <a href="http://naver.me/5IVezj0k" class="link-landing" target="_blank">
                    <img src="http://img.seabay.co.kr/svc/img/park/img_landing04.jpg" alt="04 강원도 환동해본부">
                </a>
            </p>
            <p class="img-landing">
                <a href="http://naver.me/FIOT9HTn" class="link-landing" target="_blank">
                    <img src="http://img.seabay.co.kr/svc/img/park/img_landing05.jpg" alt="05 수산물관리원 강릉지원">
                </a>
            </p>
            <p class="img-landing">
                <a href="http://naver.me/xwCysR3N" class="link-landing" target="_blank">
                    <img src="http://img.seabay.co.kr/svc/img/park/img_landing06.jpg" alt="06 교향리 주차장">
                </a>
            </p>
            <p class="img-landing">
                <a href="http://naver.me/xpDu35BI" class="link-landing" target="_blank">
                    <img src="http://img.seabay.co.kr/svc/img/park/img_landing01.jpg" alt="01 주문진해안 주차장">
                </a>
            </p>
            <p class="img-landing">
                <a href="http://naver.me/54XaIoHc" class="link-landing" target="_blank">
                    <img src="http://img.seabay.co.kr/svc/img/park/img_landing02.jpg" alt="02 주문진항 주차장">
                </a>
            </p>
            <p class="img-landing">
                <a href="http://naver.me/xfc4MqMH" class="link-landing" target="_blank">
                    <img src="http://img.seabay.co.kr/svc/img/park/img_landing03.jpg" alt="03 주문진 중앙공원 공영 주차장">
                </a>
            </p>
            <!--<p class="img-landing">
                <a href="http://naver.me/F72akDcp" class="link-landing" target="_blank">
                    <img src="http://img.seabay.co.kr/svc/img/park/img_landing07.jpg" alt="07 농협은행">
                </a>
            </p>-->
            <figure class="img-landing">
                <img src="http://img.seabay.co.kr/svc/img/park/img_landing08.jpg" alt="주변주차장이용안내">
            </figure>
        </div>
    </div>
    
    @@include('src/template/svc/include/_footer_landing.html')
</body>

</html>