<header class="header">
	<div class="gnb">
		<div class="group inner">
			<h1 class="logo"><a href="../main/index.html"><img src="/img/goco/common/logo_rsv.jpg" alt="밸류호텔 강릉"> <em>벨류 호텔 강릉</em></a></h1>
			<nav class="g-nav">
				<ul class="menu cf">
					<li class="c-blue"><a href="../reservation/index.html"><img src="/img/goco/common/icon/rsv.png" alt="예약"> <span>예약하기</span></a></li>
					<li class="c-blue"><a href="../reservation/confirm.html"><img src="/img/goco/common/icon/search.png" alt="검색"> <span>예약확인</span></a></li>
					<li class="c-blue"><a href="../reservation/login.html"><span>로그인</span></a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="call-bar">
		<div class="group inner">
			<img src="/img/goco/common/icon/call.png" alt="전화">
			<span class="tt">예약문의</span>
			<span class="t">02-0000-0000</span>
		</div>
	</div>
</header>
<!-- /.header -->