<footer>
    <div class="container">
        <ul class="sub_menu">
            <li class="active"><a href="/views/svc/main/about/index.html">회사소개</a></li>
            <li class="l">|</li>
            <li><a href="/views/svc/main/map/index.html">찾아오시는 길</a></li>
            <li class="l">|</li>
            <li><a href="/views/svc/main/access.html">이용약관</a></li>
            <li class="l">|</li>
            <li><a href="/views/svc/main/policy.html">개인정보취급방침이용약관</a></li>
            <li class="l">|</li>
            <li><a href="/views/svc/main/email.html">이메일무단수집금지</a></li>
        </ul>
        <div class="address">
            <div class="info">
                <div>
                    <span>주소</span><b>강원도 강릉시 주문진읍 주문로 59</b>
                </div>
                <div>
                    <span>이메일</span><b>valuehotelgangneung@ebiznetworks.co.kr </b>
                </div>
                <div>
                    <span>예약실</span><b>1666-1243 </b>
                </div>
            </div>
            <div class="info">
                <div>
                    <span>사업자명</span><b>㈜강릉밸류호텔 </b>
                </div>
                <div>
                    <span>대표이사</span><b>송영철</b>
                </div>
                <div>
                    <span>사업자등록번호</span><b>275-81-00923</b>
                </div>
                <div>
                    <span>통신판매신고번호</span><b>제2017-서울강남-04727호</b>
                </div>
                <div>
                    <span><a onclick="openFtc('2758100923')">[사업자정보확인]</a></span>
                </div>
            </div>
            <p>COPYRIGHT © 2018 VALUEHOTEL WORLDWIDE GANGNEUNG. ALL RIGHTS RESERVED.</p>
            <div class="footer_logo"></div>
        </div>
    </div>
</footer>

<!-- <div class="bottom_hub"><a href="https://www.hotelstory.com/" target="_blank" title="호텔스토리 허브 바로가기"></a></div> -->

<script type="text/javascript" src="/static/valuehotelgangneung/common/javascript/lib/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/valuehotelgangneung/common/javascript/lib/jquery/jquery-ui-1.12.1.min.js"></script>
<script type="text/javascript" src="/static/valuehotelgangneung/common/javascript/lib/jquery/jquery.parallax.js"></script>
<script type="text/javascript" src="/static/valuehotelgangneung/common/javascript/lib/datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/static/valuehotelgangneung/common/javascript/lib/support/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="/static/valuehotelgangneung/common/javascript/lib/jquery.word-break-keep-all.min.js"></script>
<!--[if lt IE 9]>
    <script type="text/javascript" src="/common/javascript/lib/support/flexibility.min.js"></script>
<![endif]-->

<script type="text/javascript" src="/static/valuehotelgangneung/common/javascript/lib/jssor/jssor.slider.mini.js"></script>
<!-- <script type="text/javascript" src="../../dapi.kakao.com/v2/maps/sdka7f3.json?appkey=b64305eb42701d87b146f98884c9a2c6"></script> -->
<script type="text/javascript" src="/static/valuehotelgangneung/lib/slick-master/slick/slickcd58.js"></script>
<script type="text/javascript" src="/static/valuehotelgangneung/common/javascript/func/function01.mincd58.js"></script>
<script type="text/javascript" src="/static/valuehotelgangneung/js/script.mincd58.js"></script>