<footer class="footer">
    <div class="group">
        <div class="terms-bar">
            <ul class="terms-list">
                <li class="hidden-smxs"><a href="/views/svc/main/about/index.html">회사소개</a></li>
                <li class="l hidden-smxs">|</li>
                <li class="hidden-smxs"><a href="/views/svc/main/map/index.html">찾아오시는 길</a></li>
                <li class="l hidden-smxs">|</li>
                <li><a href="/views/svc/main/access.html">이용약관</a></li>
                <li class="l">|</li>
                <li><a href="/views/svc/main/policy.html">개인정보취급방침이용약관</a></li>
                <li class="l">|</li>
                <li><a href="/views/svc/main/email.html">이메일무단수집금지</a></li>
            </ul>
        </div>
        <div class="sfa">
            <div class="split split-2">
                <div class="inquiry-bar">
                    <a class="item item-1 clr">
                        <p class="s1">예약문의<span class="s1-2">예약 확정, 변경, 취소 / 이벤트 관련 문의</span></p>
                        <!-- <span class="s2"><img src="http://img.bscondo.co.kr/i_call.png" alt="전화아이콘" class="i-tel">1666-6701</span> -->
                        <span class="s2"><img src="http://img.bscondo.co.kr/i_call.png" alt="전화아이콘" class="i-tel">1666-1243</span>
                        <span class="s3">(주중 09시 30분 ~ 25시 / 주말 09시 30분 ~ 24시)</span>
                    </a>
                    <a class="item item-2 clr">
                        <p class="s1">프론트<span class="s1-2">체크인, 체크아웃 / 시설이용 관련 문의</span></p>
                        <span class="s2"><img src="http://img.bscondo.co.kr/i_call.png" alt="전화아이콘" class="i-tel">033-820-0005</span>
                        <span class="s3">(주중/주말 06시 ~ 02시)</span>
                    </a>
                    <a class="item item-3 clr">
                        <p class="s1">단체문의<span class="s1-2">워크샵, 학생, 산업단체 / 단체이용 관련 문의</span></p>
                        <!-- <span class="s2"><img src="http://img.bscondo.co.kr/i_call.png" alt="전화아이콘" class="i-tel">010-9544-8281</span> -->
                        <span class="s2"><img src="http://img.bscondo.co.kr/i_call.png" alt="전화아이콘" class="i-tel">010-9094-0396</span>
                        <span class="s3">(주중/주말 06시 ~ 02시)</span>
                    </a>
                </div>
            </div>
            <div class="split split-1">
                <div class="logo-box">
                    <img src="http://img.seabay.co.kr/svc/img/symbol/footer_logo.png" alt="씨베이호텔" class="logo">
                    <img src="http://img.seabay.co.kr/svc/img/symbol/logo_f_goco.png" alt="고코투어" class="logo-goco">
                </div>
                <div class="addr-bar">
                    <address class="addr">
                        <div class="info">
                            <em class="item">강릉씨베이호텔</em><br>
                            <span class="item">강원도 강릉시 주문진읍 주문로 59</span>
                        </div>
                        <div class="info">
                            <em class="item">(주)강릉밸류호텔</em><br>
                            <span class="item">대표이사: 송영철</span>
                            <span class="item">사업자등록번호 275-81-00923</span>
                            <span class="item">통신판매신고번호 제2017-서울강남-04727호</span><br class="show-md">
                            <a onclick="openFtc('2758100923')">[사업자정보확인]</a><br>
                            <span class="item">메일문의: valuehotelgangneung@ebiznetworks.co.kr</span>
                            <!-- <span class="item">메일문의: seabayhotel@ebiznetworks.co.kr</span> -->
                        </div>
                        <p class="copyright">COPYRIGHT © SEABAY HOTEL GANGNEUNG. ALL RIGHTS RESERVED.</p>
                    </address>
                </div>
            </div>
        </div>
    </div>
</footer>


<script type="text/javascript" src="/static/svc/common/javascript/lib/jquery/jquery.parallax.js"></script>
<script type="text/javascript" src="/static/svc/common/javascript/lib/datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/static/svc/common/javascript/lib/support/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="/static/svc/common/javascript/lib/jquery.word-break-keep-all.min.js"></script>
<!--[if lt IE 9]>
    <script type="text/javascript" src="/static/svc/common/javascript/lib/support/flexibility.min.js"></script>
<![endif]-->

<script type="text/javascript" src="/static/svc/common/javascript/lib/jssor/jssor.slider.min.js"></script>
<script type="text/javascript" src="/static/svc/lib/slick-master/slick/slick.js"></script>
<script type="text/javascript" src="/static/svc/common/javascript/func/function01.min.js"></script>
<script type="text/javascript" src="/static/svc/js/script.min.js"></script>