<header class="header">
    <div class="ajax_loader b_hide">
        <div>
            <img src="http://img.seabay.co.kr/svc/img/loader/loading.gif" />
            <p>처리 요청 중입니다.</p>
        </div>
    </div>
    <div class="image_view_container">
        <div class="view">
            <i class="icon-10 img-remove"></i>
        </div>
    </div>
    <div class="top_line">
        <div class="container">
            <ul class="box">
                <li class="call"><i class="icon-05"></i> 1666-1243</li>
                <li class="email"><i class="icon-03"></i> valuehotelgangneung@ebiznetworks.co.kr</li>
            </ul>
        </div>
    </div>

    <div class="gnb">
        <div class="container">
            <a href="/views/svc/index.html" class="logo-box">
                <div class="top_logo">
                    <img src="http://img.seabay.co.kr/svc/img/symbol/top_logo.png" alt="강릉씨베이호텔">
                </div>
            </a>

            <!-- <a class="side_toggle out"><i class="icon-30"></i></a>
            <div class="left_overlay"></div> -->
            <nav class="nav">
                <!-- <button type="button" class="side_toggle"><i class="icon-29"></i></button> -->
                <ul class="menu">
                    <li>
                        <a class="title">호텔 소개</a>
                        <ul class="sub">
                            <li><a href="/views/svc/main/about/index.html">씨베이호텔 소개</a></li>
                            <li><a href="/views/svc/main/factsheet/index.html">호텔시설개요</a></li>
                            <li><a href="/views/svc/main/map/index.html">오시는길</a></li>
                            <li><a href="/views/svc/brd/lists/notice.html">공지사항</a></li>
                            <li><a href="https://www.gn.go.kr/tour/index.do" target="_blank">주변관광지안내</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="title">객실안내</a>
                        <ul class="sub">
                            <li><a href="/views/svc/rooms/detail/18836.html">수페리어</a></li>
                            <li><a href="/views/svc/rooms/detail/18837.html">디럭스</a></li>
                            <li><a href="/views/svc/rooms/detail/19198.html">디럭스패밀리</a></li>
                            <li><a href="/views/svc/rooms/detail/18838.html">프리미어디럭스</a></li>
                            <li><a href="/views/svc/rooms/detail/18839.html">오션스위트</a></li>
                            <li><a href="/views/svc/rooms/detail/35055.html">오션패밀리스위트</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="title">다이닝</a>
                        <ul class="sub">
                            <li><a href="/views/svc/restaurant/valueplate.html">밸류플레이트</a></li>
                            <li><a href="/views/svc/restaurant/lobbybar.html">BAR 59</a></li>
                            <li><a href="/views/svc/restaurant/swimmingbar.html">스위밍 BAR</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="title">연회&amp;부대시설</a>
                        <ul class="sub">
                            <li><a href="/views/svc/facilities/banquethall.html">연회장</a></li>
                            <li><a href="/views/svc/facilities/swimmingpool.html">수영장</a></li>
                            <li><a href="/views/svc/facilities/businesscorner.html">비즈니스코너</a></li>
                            <li><a href="/views/svc/facilities/heavenlypark.html">하늘공원</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="title">단체문의</a>
                        <ul class="sub">
                            <li><a href="http://" rel="noopener noreferrer"></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="title">장기/단기 숙박</a>
                        <ul class="sub">
                            <li><a href="http://" rel="noopener noreferrer"></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="title">예약하기</a>
                        <ul class="sub">
                            <li><a href="http://" rel="noopener noreferrer"></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- <div class="top_navi_v2">
        <div class="navi_scroll">
            <div class="container">
                <a href="/views/svc/index.html" class="logo_m">
                    <div class="top_logo_c">
                        <img src="http://img.seabay.co.kr/svc/img/symbol/m_top_logo.png" alt="강릉씨베이호텔">
                    </div>
                </a>
                <a class="side_toggle out"><i class="icon-30"></i></a>
                <div class="left_overlay"></div>
                <div class="list">
                    <button type="button" class="side_toggle"><i class="icon-29"></i></button>
                    <ul>
                        <li>
                            <a class="title">호텔 소개</a>
                            <ul class="sub">
                                <li><a href="/views/svc/main/about/index.html">씨베이호텔 소개</a></li>
                                <li><a href="/views/svc/main/factsheet/index.html">호텔시설개요</a></li>
                                <li><a href="/views/svc/main/map/index.html">오시는길</a></li>
                                <li><a href="/views/svc/brd/lists/notice.html">공지사항</a></li>
                                <li><a href="https://www.gn.go.kr/tour/index.do" target="_blank">주변관광지안내</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="title">객실안내</a>
                            <ul class="sub">
                                <li><a href="/views/svc/rooms/detail/18836.html">수페리어</a></li>
                                <li><a href="/views/svc/rooms/detail/18837.html">디럭스</a></li>
                                <li><a href="/views/svc/rooms/detail/19198.html">디럭스패밀리</a></li>
                                <li><a href="/views/svc/rooms/detail/18838.html">프리미어디럭스</a></li>
                                <li><a href="/views/svc/rooms/detail/18839.html">오션스위트</a></li>
                                <li><a href="/views/svc/rooms/detail/35055.html">오션패밀리스위트</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="title">다이닝</a>
                            <ul class="sub">
                                <li><a href="/views/svc/restaurant/valueplate.html">밸류플레이트</a></li>
                                <li><a href="/views/svc/restaurant/lobbybar.html">BAR 59</a></li>
                                <li><a href="/views/svc/restaurant/swimmingbar.html">스위밍 BAR</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="title">연회&amp;부대시설</a>
                            <ul class="sub">
                                <li><a href="/views/svc/facilities/banquethall.html">연회장</a></li>
                                <li><a href="/views/svc/facilities/swimmingpool.html">수영장</a></li>
                                <li><a href="/views/svc/facilities/businesscorner.html">비즈니스코너</a></li>
                                <li><a href="/views/svc/facilities/heavenlypark.html">하늘공원</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="title">단체문의</a>
                            <ul class="sub">
                                <li><a href="http://" rel="noopener noreferrer"></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="title">장기/단기 숙박</a>
                            <ul class="sub">
                                <li><a href="http://" rel="noopener noreferrer"></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="title">예약하기</a>
                            <ul class="sub">
                                <li><a href="http://" rel="noopener noreferrer"></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
</header>

<div class="body"></div>
<br class="br_sub">