@@include('src/template/svc/include/_head.html')
</head>

<body>

    @@include('src/template/svc/include/_header.html')

    <div class="facilities_box">
        <div class="sub">
            <div class="sub_top_menu">
                <h4 class="page_title">수영장</h4>
                <h6 class="page_sub_title">모든 수영장은 푸른 동해바다 전망이 가능하며 가족, 연인, 친구들과 여행의 피로를 힐링하실 수 있는 최적의 플레이스입니다.<br>특히
                    15층에 위치한 인피니트 수영장에서는 마치 바다를 직접 접하는 듯한 환상의 느낌을 받으실 수 있습니다.</h6>
                <ul class="menu_wrap container">
                    <li class="menu_item"><a href="/views/svc/facilities/banquethall.html">연회장</a></li>
                    <li class="menu_item active"><a href="/views/svc/facilities/swimmingpool.html">수영장</a></li>
                    <li class="menu_item"><a href="/views/svc/facilities/businesscorner.html">비즈니스코너</a></li>
                    <li class="menu_item"><a href="/views/svc/facilities/heavenlypark.html">하늘공원</a></li>
                </ul>
            </div>
        </div>
        <div class="sub container">
            <div class="sub_item_box">
                <div class="sub_item_wrap">
                    <div class="sub_item">
                        <div class="slick_slider">
                            <div class="icon-prev"><i class="icon-33"></i></div>
                            <div class="icon-next"><i class="icon-32"></i></div>
                            <div class="slick_basic">
                                <div><img src="http://img.seabay.co.kr/svc/img/facilities/swimmingpool1cd58.jpg"></div>
                                <div><img src="http://img.seabay.co.kr/svc/img/facilities/swimmingpool2cd58.jpg"></div>
                            </div>
                        </div>
                        <div class="item_info">
                            <div class="info_wrap">
                                <h5 class="info_title">위치</h5>
                                <div class="info_content">일반 수영장, 개별 월풀 (5층)<br>인피니티 수영장 (15층) - 준비중
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">운영시간</h5>
                                <div class="info_content">
                                    <!--  09:00 ~ 18:00 (7월~9월) -->2019년 7월 개장 예정<br>
                                    * 호텔사정에 따라 수영장 이용시간은 달라질 수 있습니다.<br>
                                    변경 시에는 홈페이지 “공지＂를 통하여 안내 될 예정입니다.
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">이용요금</h5>
                                <div class="info_content">
                                    <strong>패밀리 수영장</strong>(5F) : 별도 요금으로 이용가능 (유아동반 가능) <br>
                                    <strong>키즈 풀</strong>(5F) : 별도 요금으로 이용가능 <br>
                                    <strong>※ 인피니티 수영장</strong> (15F) - 별도 요금으로 이용가능(준비중) <br>
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">예약문의</h5>
                                <div class="info_content">
                                    전화 : <span class="sh_small">1666-1243</span><br />
                                    이메일 : <span class="sh_small">valuehotelgangneung@ebiznetworks.co.kr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('src/template/svc/include/_footer.html')
</body>

</html>