@@include('src/template/svc/include/_head.html')
</head>

<body>

    @@include('src/template/svc/include/_header.html')

    <div class="facilities_box">
        @@include('src/template/svc/include/facilities/sub_top.html', {
            "title": "인피니티 풀",
            "sub_title": "15층에 위치한 인피니티 풀은 하늘과 바다를 대면하는 환상의 프라이빗 공간입니다.<br>연인, 친구와 감동의 시간을 함께하세요."
        })
        <div class="sub container">
            <div class="sub_item_box">
                <div class="sub_item_wrap">
                    <div class="sub_item">
                        <div class="slick_slider">
                            <div class="icon-prev"><i class="icon-33"></i></div>
                            <div class="icon-next"><i class="icon-32"></i></div>
                            <div class="slick_basic">
                                <div><img src="http://img.seabay.co.kr/svc/img/facilities/swimmingpool3cd58.jpg"></div>
                            </div>
                        </div>
                        <div class="item_info">
                            <div class="info_wrap">
                                <h5 class="info_title">위치안내</h5>
                                <div class="info_content">
                                    인피니티 풀 (15층)
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">이용기간</h5>
                                <div class="info_content">
                                2019년 7월 17일 정상 오픈 예정 (현재 정비 중)
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">이용요금</h5>
                                <div class="info_content">
                                    대인 20,000원 (만19세 이상 성인만 이용가능)<br>
                                    ※ 주간에는 패밀리 풀 이용시 인피니티 풀을 함께 이용하실 수 있습니다.<br>
                                    ※ 야간에는 인피니티 풀 이용을 위해 별도의 대인 20,000원의 별도 요금이 부과됩니다.<br>
                                    ※ 인피니티 풀은 만19세 이상 성인만 이용가능<br>
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">이용시간</h5>
                                <div class="info_content">
                                    주간 13시 ~ 19시 / 야간 20시~22시<br>
                                    ※ 호텔 사정에 의해 이용시간이 변경될 수 있습니다.
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">준비물품</h5>
                                <div class="info_content">
                                    수영모(야구모자 가능), 수영복(편한 복장 가능), 개인수건
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">기타안내</h5>
                                <div class="info_content">
                                    최대인원 초과 시 안전을 위해 입장이 제한 됨<br>
                                    풀장에는 락커룸이 없으므로 미리 환복 후 입장 필수<br>
                                    인피니티 풀 내에 샤워실 구비<br>
                                    규정시간 이외에는 수영장 이용 절대 불가 / 외부음식 반입 불가<br>
                                    ※ 인피니티 풀은 2019년 7월 17일 정상 오픈 예정 (현재 정비 중)
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">예약문의</h5>
                                <div class="info_content">
                                    전화 : <span class="sh_small">1666-1243</span><br>
                                    이메일 : <span class="sh_small">valuehotelgangneung@ebiznetworks.co.kr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('src/template/svc/include/_footer.html')
</body>

</html>