@charset "utf-8";

@import "../parts/common";

/* 공통스타일 영역 */
.sec.common-01 {
    .row-txt {
        padding: 35px 0;
        h2 {
            text-align: center;
            line-height: 1.8;
            font-size: 34px;
            font-weight: 700;
            letter-spacing: -1.5px;
        }
        > p {
            text-align: center;
        }
        .p-1 {
            font-size: 24px;
        }
        .p-2 {
            font-size: 26px;
        }
        
    }
    .mv-box {
        iframe {
            @include size(100%, 540px);
        }
    }
    .photo-box {
        padding-bottom: 75px;
        overflow: hidden;
        .list {
            width: 970px;
            font-size: 0;
            margin-top: -12px;
            > li {
                // display: inline-block;
                margin-top: 12px;
                // width: 33.33%;
                box-sizing: border-box;
                // padding: 0 6px;
                > img {
                    display: block;
                    width: 100%;
                }
            }
        }
        .row-btn {
            margin: 35px 0 70px;
        }
    }
}